Adding a new Route Target code point for constraining Metadata Path Attribute distribution

From: Linda Dunbar 
Sent: Tuesday, November 21, 2023 12:52 PM
To: Jeffrey Haas <jhaas@pfrc.org>
Cc: Susan Hares <shares@ndzh.com>; idr@ietf.org
Subject: Question about your suggestion of getting a new Route Target code point for constraining Metadata Path Attribute distribution


Jeff, 

You have suggested to applying for a new Route Target code point for the purpose of constraining Metadata Path Attribute distribution. 

Do you mean applying for new SAFI? Currently the SAFI =132 is for Route Target Constrains. 
We assumed to use the same SAFI =132 for Ingress routers to send out the Route Target Membership NLRI Advertisements for the interested service IP prefix.  

Section 4 of the RFC4684 states that  “Route targets can then be expressed as prefixes”.

If it is not the new SAFI, what code point are you referring to?

Your advice is greatly appreciated. 

Linda



Asking at IETF-119 for feedback. 

Re-opening Jeff's comments to seek validation at IETF-120.

We seem to be moving toward not using route targets, ORFs, etc. to constrain distribution of routes with this attribute.  The "limited domain" principle means this should go where it's intended.

If you agree with this point, this issue can be closed.

I've tagged the remaining ORF issue with issue 4 in my XXX in main 24.xml.

rt-constrain is not used in version -26. This issue may be closed.

Can you please close the issue?