Implementing limited domain in attribute processing

In the section called metadata path attribute processing, the text describes what it does on receiving update messages with the metadata attribute.

In order to be a limited domain, the document needs to discuss what does that.  This is presumably via configuration. It's probably scoped to a single AS, or potentially a small number of ASes?

Since the document describes only the attribute that is sent within the domain, it's unclear how you ensure that filtering of the attribute happens when it reaches that domain's boundaries.

What mechanism is intended to enforce the boundaries?  Since this mechanism sounds like it may deployed in a mixed environment that may interact with the Internet, I don't think we can simply say "this is only a contained network."  

The Section 5 has detailed description of the mechanism to enforce the boundaries, such as RR appending the NO-ADVERTISE well-known community, AS-Scope Sub TLV (to address scenario when NO-ADVERTISE being dropped by some routers). Is it enough? 

You've described using no-advertise.  This implies, but doesn't confirm, that the domain is a scope of a single router.  That's great if you have a flat network or everything is serviced by a single route reflector with no hierarchy.

If the scope is a single AS, no-advertise or no-export can help restrict where routes containing this attribute go.

At no point do you say that the limited domain is "a single AS".
At no point do you describe that the area of enforcement is an AS border router.
At no point do you describe what happens if you learn a route from outside of the limited domain (whatever it is) and receive a metadata that couldn't have been advertised internally.

If the domain is always a single AS, the feature can say that it is supposed to not propagate routes containing the metadata attribute outside of the AS - and implicit "no export". The BGP communities are there to help mixed deployments.

If the domain is a subset of routers in the AS, the bgp communities help, but there's probably good reason for the peering sessions to be configured with a property that ensures it's treated as the limited domain's edge.

If the domain can be more than a single AS, a mechanism needs to be defined that either scopes the set of ASes, or has the domain configured as a peering property.

As an example, but not necessarily a recommendation, configuring a peer session to be a boundary could cause a BGP capability to be exchanged that helps set the boundary.

> In the section called metadata path attribute processing, the text describes what it does on receiving update messages with the metadata attribute."

Jeff , 

I have two questions 
1.	In version -24, is the section you are looking at 4.1.2 - Metadata Path Attribute Processing?
2.	If you are looking at section 4.1.2, then 

Since section 4.1.1 indicates boundary node filtering should be deployed to prevent the distribution of BGP Metadata Path Attribute beyond its intended scope of applicability, would the following statement added to the end of section 4.1.2 resolve your comment. 

New text:/ All BGP Peers on the edge of the Administrative domain passing the Metadata Path attribute should configure the BGP Peers with local policy to remove the BGP Metadata Path attribute./

This comment has also been sent to the IDR list. 





@suehares The text is written as if from a sender perspective.  A lot of drafts attempting to describe how to prevent attribute escape assume that if they filter on an outbound basis, there's no issues.

All it takes is an implementation that permits you to receive something out of scope on an inbound basis and you have issues.

Since the attribute is non-transitive, the scenario would likely be:
1. An edge is not properly configured.  (What that edge should be is a point already asked for clarification-wise.  Is it a peering session property?  Is it as-scoped?) 
2. The attribute gets out.
3. There are no inbound filtering procedures. The attribute moves around speakers that may understand the attribute and don't know to filter it.
4. It reaches another network that wants to leverage metadata and accepts the foreign attribute.

The as-scope sub-tlv (section 5.1) provides a tool that can be used for filtering in circumstances where it's attached and the filter scope is intended to be as-scope.  

What is needed:
Clarify what the expected limited domain boundary is intended to be and how it is configured.
On receipt by an implementation that understands the metadata attribute of such an attribute from outside its domain, what is the procedure?  Treat-as-withdraw?

I suspect the intent is supposed to be that the limited domain is a single AS.  But the document never really spells that out.

@jhaas-pfrc  -  Thanks for the quick response.  

"What is needed:
Clarify what the expected limited domain boundary is intended to be and how it is configured.
On receipt by an implementation that understands the metadata attribute of such an attribute from outside its domain, what is the procedure? Treat-as-withdraw?

I suspect the intent is supposed to be that the limited domain is a single AS. But the document never really spells that out.":

Let me clarify - 
a) you are looking to see if it is a domain of a single AS (IBGP) or multiple ASes under a single AD.   
b) My understanding of the desired procedures is treat-as-withdraw.   

Let me check with the deployment people.  I'll update the comments and the IDR list once I have the details. 

I would like to close on this issue before we attack the route selection issue. 

Issues clarification after talking to deployment/implementation people:

1) Deployments are within a single Administrative domain that can be either a single AS or multiple ASes within an administrative domain.   

2) Cases of Metadata results: 

Case 1) BGP peer receives Metadata attribute and does not recognize the attribute.  Since metadata is a non-transitive attribute, the receiving BGP peer who does not recognize it will drop it.  

Case 2) If a BGP peer receives the Metadata Attribute from a remote peer and has code to handle the metadata, it is not configured for this peer.   

The BGP peer capability for Metadata Attribute should be negotiated in the BGP open (see RFC5492],   The peer should not send an attribute for which there is no support.  If received, [RFC5492],  my recollection is that the BGP receiving peer treats the update as treat-as-withdraw.  

Am I correct? I'm trying to find the reference in [RFC5492], [RFC7606], or something for this behavior.  Can you help me? 

Case 3) A BGP peer that supports the BGP Metadata capability receives a BGP Metadata attribute (with correct total length) in an UPDATE message from a BGP Peer configured to pass BGP Metadata Attributes (via capabilities and configuration), but it is from the wrong administrative domain. 

Solution: (based on section 5.1.1).  When a BGP Peer configures the ability to send/receive BGP Metadata capability, the BGP Peer will configure the ASes that the BGP peer expects to receive the BGP Metadata.   These AS can be either the sending AS or an AS representing the administrative domain.  

BGP Peer receiving the Metadata will: 
a) validate the BGP attributes length and sub-TLV.  SubTLVs should be sent in ascending numerical order.  Process all sub-TLVs.  
b) If any known sub-TLV is invalid,  the Metadata attribute is invalid. 
c) If an unknown subTLV i s found,  the parsing should ignore the remainder of the SubTLVs in the attribute.  
d) check for AS-Scope Sub-TLV and look at In-Scope AS.  If it does not match the configured ASes in the AS-Scope TLV, then it will consider the Attribute as "treat-as-withdraw"

-- Checks "a-c"  are done before check d.  If d results in an "invalid AS", it indicates we are in case 3.   If Check d find an OK AS, then this is case 4. 

Case 4) a BGP peer that supports the BGP Metadata capability receives a BGP Metadata attribute with valid SubTLVs in a UPDATE message from a BGP Peer configured to send/receive.   

 Does this error handling seem consistent?   

I'd like to make sure the four cases are ok before going to the text. 

> Issues clarification after talking to deployment/implementation people:
> 
>     1. Deployments are within a single Administrative domain that can be either a single AS or multiple ASes within an administrative domain.

Okay, so the intention is that this is as-scoped and may cover more than one AS.  It'd be useful to state that in the document.

The fact that this is multi-as implies that as-scope TLV should handle more than one AS.  Examples might be more than one sub-TLV, or make the contents of the TLV a vector of the scoped ASes.

>  Case 1) BGP peer receives Metadata attribute and does not recognize the attribute. Since metadata is a non-transitive attribute, the receiving BGP peer who does not recognize it will drop it.

This is our easy case.

> Case 2) If a BGP peer receives the Metadata Attribute from a remote peer and has code to handle the metadata, it is not configured for this peer.
> 
> The BGP peer capability for Metadata Attribute should be negotiated in the BGP open (see RFC5492], 

The current text doesn't describe using BGP capabilities.  The text above also implies that this is per-peer configured.

I think the direction you're trying to take this is that the scoping resembles a BGP confederation and that eBGP configuration will mark an AS either in or out of the local domain.

If you're doing a capability, consider making it a capability that requires mutual agreement in order to propagate/receive the metadata attribute.


> The peer should not send an attribute for which there is no support. If received, [RFC5492], my recollection is that the BGP receiving peer treats the update as treat-as-withdraw.

Capabilities can signal desired behaviors. Since the attribute is non-transitive, this limits the attribute only to bgp speakers that would understand such a capability.

> Case 3) A BGP peer that supports the BGP Metadata capability receives a BGP Metadata attribute (with correct total length) in an UPDATE message from a BGP Peer configured to pass BGP Metadata Attributes (via capabilities and configuration), but it is from the wrong administrative domain.
> 
> Solution: (based on section 5.1.1). When a BGP Peer configures the ability to send/receive BGP Metadata capability, the BGP Peer will configure the ASes that the BGP peer expects to receive the BGP Metadata. These AS can be either the sending AS or an AS representing the administrative domain.

If ASBRs require a mutually agreed upon capability, then send/receive scoping can be enforced.

> 
> BGP Peer receiving the Metadata will: a) validate the BGP attributes length and sub-TLV. SubTLVs should be sent in ascending numerical order. Process all sub-TLVs. b) If any known sub-TLV is invalid, the Metadata attribute is invalid. c) If an unknown subTLV i s found, the parsing should ignore the remainder of the SubTLVs in the attribute. d) check for AS-Scope Sub-TLV and look at In-Scope AS. If it does not match the configured ASes in the AS-Scope TLV, then it will consider the Attribute as "treat-as-withdraw"


> 
> -- Checks "a-c" are done before check d. If d results in an "invalid AS", it indicates we are in case 3. If Check d find an OK AS, then this is case 4.
> 
> Case 4) a BGP peer that supports the BGP Metadata capability receives a BGP Metadata attribute with valid SubTLVs in a UPDATE message from a BGP Peer configured to send/receive.
> 
> Does this error handling seem consistent?

This seems to be the right idea.

> 
> I'd like to make sure the four cases are ok before going to the text.



Many thanks for Sue and Jeff's discussion. 
Discussed with Sue this morning and decided on the the text changes below: 

--------------------------------------------------
Section 4.1

Current text:/
   The Metadata Path Attribute is an optional non-transitive BGP Path
   attribute that carries metrics and Metadata about the edge services
   attached to the egress router.  The Metadata Path Attribute, to be
   assigned by IANA [RFC2042], consists of a set of Sub-TLVs, and each
   Sub-TLV contains information for specific metrics of the edge
   services./ 

New text:/
   The Metadata Path Attribute is an optional non-transitive BGP Path
   attribute that carries metrics and Metadata about the edge services
   attached to the egress router.  The Metadata Path Attribute (TBD1)
   consists of a set of Sub-TLVs, and each  Sub-TLV contains information 
  for specific metrics of the edge services./ 

Text to add to end of section 4.1:/
 BGP Peers that intend to exchange the Metadata Path Attribute should indicate this by signaling the Metadata Capability (TBD2) in the Open Capabilities field with the format described in Section 4.1.5. The web of BGP peers that exchange the Metadata Path Attributes forms a limited domain, either within a single AS or within a group of ASes under a single Administrative Authority. / 


Section 4.1.1  
Old text:/ 
   Only a small subset of BGP UPDATE messages include the Metadata Path
   Attribute.  The choice of which prefix to carry the Metadata Path
   Attribute is determined by local policies.  The Metadata Path
   Attribute can be included in a BGP UPDATE message [RFC4271] together
   with other BGP Path Attributes [IANA-BGP-PARAMS], such as Communities
   [RFC4360], NEXT_HOP, Tunnel Encapsulation Path Attribute [RFC9012],
   etc./

New text:/
   Only a tiny subset of BGP UPDATE messages include the Metadata Path Attribute. 
   The choice of which prefix to carry the Metadata Path Attribute is determined by local policies.  
   The Metadata Path Attribute can be included in a BGP UPDATE message [RFC4271] together 
    with other BGP Path Attributes [IANA-BGP-PARAMS], such as Communities  [RFC4360], 
   NEXT_HOP, Tunnel Encapsulation Path Attribute [RFC9012], and other BGP attributes. / 

Old text:/
   -  Can be packed with both IPv4 and IPv6 NLRI corresponding to SAFI
      values 1 (Unicast)[RFC4760], 2 (Multicast) [RFC4760], 4 (MPLS
      Labels)[RFC8277], 65 (VPN) [RFC4364], 128 (MPLS-labeled VPN)
      [RFC4364] [RFC8277], 129 (Multicast VPN) [RFC6513], 133 (MPLS-
      based VPLS) [RFC4761], 134 (EVPN) [RFC7432], and IPv6 Anycast
      [RFC4786]./

replacing the word “packed” with “packed in an UPDATE  with” . 

Section 4.1.5 Metadata Processing Capability in BGP OPEN Message
The "Capabilities Optional Parameter" allows a BGP speaker to indicate its capabilities
during the BGP OPEN message exchange. The Capabilities Optional Parameter is a triple that includes a one-octet Capability Code, a one-octet Capability length, and a variable-length Capability Value.

To enable support for the Metadata Path Attribute, a new Metadata Processing Capability code (TBD2) is defined. This capability allows a BGP speaker to communicate its ability to process the Metadata Path Attribute for specified AFI and SAFI pairs.
The Value Field of the Metadata Processing Capability:
      0                   1                   2                   3
      0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
     +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
     |A| NLRI-cnt    |      AFI                      |  SAFI         |
     +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
     |              AFI              |    SAFI       |     ..   ~
     +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+		

Where:
- A Flag(1 bit): Set to 1 indicates that the Metadata attribute can be attached to any AFI/SAFI. Set to 0 indicates that the Metadata attribute is restricted to specific AFI/SAFI pairs listed in the remainder of the Open Capabilities.
- NLRI-CNT (7 bits): Indicates the number of AFI/SAFI pairs specified in the OPEN Capability.
- AFI (16 bits): Address Family Identifier.
- SAFI (8 bits):Sub-address Family identifier.

If a BGP speaker does not include the Metadata Processing Capability in its BGP OPEN message for a specific BGP session, or if it does not receive the Metadata Processing Capability from its peer on that session, it MUST NOT send any BGP UPDATE message on that session that bind the Metadata Path Attribute to any prefix.

Version -25 is uploaded to the Github. Can you check? 

The limited domain scoping discussion was significant improved in recent versions based on discussion on IDR.  Version -25 published in IETF addressed the issue.